@font-face {
font-family: "Cobol";
src: url(The Northern Block - Cobol.otf);
} 

header {
  	background-color: #005F82;
  	height: 25vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	display: flex;
  	flex-direction: column;
    justify-content: center;
}


h1 {
	font-size: 45px;
	font-family: "Cobol";
	color: white;
	text-align: center;
	
}

img[usemap] {

    border: none;
    height: auto;
    max-width: 100%;
    width: auto;

}

footer {
  	background-color: #fc9e3a;
  	height:20vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	display: flex;
  	flex-direction: column;
    justify-content: center;
	
}
