body{
	opacity: 0;
	background-color: #fc9e3a;
}

.bloc-page{
	width: 90%;
	margin:auto;
	text-align: center;
}

@font-face {
  font-family: 'Cobol';
  font-style: normal;
  src: url(Cobol.otf);
}

header {
  	background-color: #005F82;
  	height: 10vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	display: flex;
  	flex-direction: column;
    justify-content: center;
}

h1 {
	font-size: 45px;
	font-family: 'Cobol';
	color: white;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-family: "Cobol";
	color: white;
	text-align: left;
	
}
.accueilnord{
	width:100px;
	height: 100px;
	position: absolute;
	top: 350px;
	left: 690px;
}
.accueilsud{
	width:100px;
	height: 100px;
	position: absolute;
	top: 650px;
	left: 850px;
}
.accueilest{
	width:100px;
	height: 100px;
	position: absolute;
	top: 350px;
	left: 1250px;
}
.accueilouest{
	width:100px;
	height: 100px;
	position: absolute;
	top: 500px;
	left: 450px;
}
.artfrabiquesud{
	width:100px;
	height: 100px;
	position: absolute;
	top: 700px;
	left: 1000px;
}
.labomachineouest{
	width:100px;
	height: 100px;
	position: absolute;
	top: 400px;
	left: 450px;
}
.hallnord{
	width:100px;
	height: 100px;
	position: absolute;
	top: 450px;
	left: 910px;
}
.hallsud{
	width:100px;
	height: 100px;
	position: absolute;
	top: 550px;
	left: 1250px;
}
.modal-header{
	background-color: #fc9e3a;	
}

.modal-footer{
	background-color: #005f82;	
}

img[usemap] {

    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

footer {
  	background-color: #005F82;
  	height:10vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	display: flex;
  	flex-direction: column;
    justify-content: center;
	
}
